.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: whitesmoke; 
    line-height: 1.3em;
    padding-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.main {
    display: grid;
    /* background: mistyrose; */
    grid-template-columns: repeat(2, 1fr);
    height: 800px;
    grid-gap: 8px;
}

.main-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 5px;
    /* background: #fbdd6f; */
    /* padding: 10px; */
}

.main-right {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(3, 1fr);
}

img {
    width: 100%;
}
h1 {
    font-size: 30px;
}
.height {
    height: 100%;
    /* width: auto; */
}
.item1 {
    grid-column: 1 / span 2;
}

.item2 {
    /* background: coral; */
    grid-column: span 1;
    grid-row: span 1;
}
.item3 {
    grid-row-start: 4;
    grid-column-start: 1;
    align-self: center;
}
.item4 {
    grid-row-start: 3;
    grid-column: span 1 / -1;
}

/* rose.png */
.item5 {
    grid-row-start: 4;
    grid-column: span 1 / -1;
}
.greet {
    /* grid-column-start: 2; */
}

.name {
    grid-column: span 1 / -1;
    background-color: cadetblue;
    align-self: end;
}

.bio {
    grid-column: 2 / span 2;
    grid-row-start: 2;
}

.sns {
    grid-row-start: 2;
    grid-column: span 1 / -1;
    align-self: end;
}

/* MAIN RIGHT */
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.education {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.web{
    grid-column: 1 / span 1;
    /* grid-row-start: 2; */
}
.write-design{
    grid-column: 2 / span 1;
    grid-row-start: 2;
}
.tools {
    grid-row-start: 2;
    grid-column: span 1 / -1;
}

.fab, .far {
    color: orange;
}

@media (max-width: 580px) {
    .main {
        grid-template-columns: 1fr;
    }
}