body {
    color: #000;
    /* position: relative; */
    padding-top: 50px;
    background-color: #e7e1d7;
}

nav {
    background-color: #fff;
}

h1 {
    font-size: 45px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-me {
    height: 100vh;
    background-color: #a8cecb;
}

.about-me-pic {
    height: 350px;
    width: auto;
}

.portfolio {
    height: 100vh;
}

.contact {
    /* height: 100vh; */
}

/* footer, .footer {
    background-color: #000;
    color: #fff;
    height: 50px;
} */

.footer {
    bottom: 0;
    width: 100%;
    position: relative;
    /* height: $height-footer; */
    background-color: #000;
    .footer-block {
      margin: 50px 0;
    }
  }