/* font-family: 'Cousine', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Crimson Text', serif;
font-family: 'IBM Plex Mono', monospace; */

body {
    color: #000;
    /* position: relative; */
    background-color: #EBE6DF;
}

.container {
    max-width: 70%;
}

nav {
    z-index: 2;
    position: fixed;
}

nav, .nav, .a, .nav-font {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.nav-link:hover {
    color: #fff; 
    text-decoration: line-through;
    text-decoration-color: #105dfb;
    text-decoration-style: wavy;
}

#square {
    z-index: -1;
    clear: both;
}

.pink{
    background-color: #de507f;
    height: 110px;
    width: 110px;
    float: left;
    top: 0;
}

.blue{
    background-color: #a8cecb;
    height: 110px;
    width: 110px;
    float: left;
}

.yellow{
    background-color: #fcde67;
    height: 110px;
    width: 110px;
    float: left;
}

h1 {
    font-size: 45px;
    padding-bottom: 50px;
}
.blink-font {
    font-family: 'IBM Plex Mono', monospace;
}

.index-container {
    margin-top: 100px;
}

.index-intro {
    height: 100vh; 
    margin-top: 100px;
}

/* ABOUT PAGE */

.about-container /* with .container  */ {
    margin-top: 100px;
}

.about-header /*.row*/ {
    margin-bottom: 20px;
}

.about-pic-col {
    margin-right: 30px;
}

.about-pic {
    height: 250px;
    width: auto;
}
.pic1 { margin-bottom: 20px;}

.about-end {
    margin-bottom: 100px;
}
/* CONTACT PAGE */

.contact-container {
    padding-top: 100px;
}

.index-font {
    font-family: 'IBM Plex Mono', monospace;
}

.portfolio {
    height: 100vh;
}

/* .contact {
     height: 100vh; 
} */

.footer {
    bottom: 0;
    width: 100%;
    position: relative;
    /* height: $height-footer; */
    background-color: #000;
  }

.footer .footer-block {
    margin: 50px 0;
}

.down-arrow {
    align-content: center; 
}