.container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #dac8a4; 
    height: 100vh;
    padding-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.works {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

ul.menu {
    display: none;
}

.work {
    background: whitesmoke;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
}

.work-img {
    width: 100%;
}

@media (maxwidth: 550px) {
    .works {
        grid-template-columns: 1fr;
    }
}