body {
    background-color: whitesmoke;
}
.container {
    display: grid;
    grid-template-rows: 100px 200px;
    grid-gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 20px;
    background: cornflowerblue;
    height: 100vh;
}

.works {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

ul.menu {
    display: none;
}

.work {
    background: whitesmoke;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
}

.work-img {
    width: 100%;
}

@media (maxwidth: 550px) {
    
    
    .works {
        grid-template-columns: 1fr;
    }
}